<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <services>
      <configurator type="SF.Feature.SlickCarousel.Repositories.RegisterDependencies, SF.Feature.SlickCarousel" />
    </services>
    <experienceAccelerator>
      <grid>
        <placeholderWrapper>
          <excludedPlaceholders>
            <placeholder patch:after="body-bottom">slick</placeholder>
          </excludedPlaceholders>
        </placeholderWrapper>
      </grid>
    </experienceAccelerator>
    <pipelines>
      <mvc.renderPlaceholder>
        <processor patch:instead="*[@type='Sitecore.XA.Foundation.Grid.Pipelines.RenderPlaceholder.AddPlaceholderWrapper, Sitecore.XA.Foundation.Grid']" type="SF.Feature.SlickCarousel.Pipelines.DynamicAddPlaceholderWrapper,SF.Feature.SlickCarousel" resolve="true" />
      </mvc.renderPlaceholder>
    </pipelines>
  </sitecore>
</configuration>
